<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Register Page</title>
</head>

<body>
    {{#if error}}
    <div>
        <div class="errorContainer">
            <p>{{error}}</p>
        </div>
    </div>
    {{/if}}
    <div id="wrapper">
        <header>
            <!-- Navigation -->
            <nav>
                <div>
                    <a href="/">Home</a>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/search">Search</a>
                </div>
                {{#if isAuthenticated}}
                <div class="user">
                    <a href="/create">Add Animal</a>
                    <a href="/logout">Logout</a>
                </div>
                {{else}}
                <div class="guest">
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                </div>
                {{/if}}
            </nav>
        </header>

        <main class="register">
            <!-- Register Page (Only for Guest users) -->
            <section id="register">
                <div class="form">
                    <h2>Register</h2>
                    <form class="login-form" method="post">
                        <input type="text" name="email" id="register-email" placeholder="email" />
                        <input type="password" name="password" id="register-password" placeholder="password" />
                        <input type="password" name="repassword" id="repeat-password" placeholder="repeat password" />
                        <button type="submit">Register</button>
                        <p class="message">Already registered? <a href="/login">Login</a></p>
                    </form>
                </div>
            </section>
        </main>

        <footer>
            <p>@Friendly World</p>
        </footer>
    </div>
</body>

</html>